main {
    #localidadesTitulo {
        @extend #Titulo;

        .Localidades {
            display: flex;
            flex-direction: column;


            .ciudades {
                width: 100%;
                margin-top: 5%;
                background-color: rgb(255, 255, 255);
                color: black;
                width: 500px;
                text-align: center;

                .fotosCiudades {
                    max-width: 100%;
                    padding: 10px;

                }
            }


        }


    }


    .ciudades {
        width: 100%;
        transition: all 2s;
    }

    .ciudades:hover {
        padding: 3%;
        width: 90%;
    }

}

