// base 
@import "./base/reset";
@import "./base/typography";

// components

@import "./components/button";

// layout
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

// pages

@import "./pages/pagina-principal";
@import "./pages/pagina-FAQS";
@import "./pages/pagina-stores";
@import "./pages/pagina-contacto";
@import "./pages/pagina-shop";



@media (max-width: 1300px) {
    .contactosContainer{
        display: flex;
        flex-direction: column;
    }
}
















@media (max-width: 500px) {
    main {
        #localidadesTitulo {
            @extend #Titulo;
    
            .Localidades {
                display: flex;
                flex-direction: column;
    
    
                .ciudades {
                    width: 10%;
                    margin-top: 5%;
                    background-color: rgb(255, 255, 255);
                    color: black;
                    width: 250px;
                    text-align: center;
    
                    .fotosCiudades {
                        max-width: 100%;
                        padding: 10px;
    
                    }
                }
    
    
            }
    
    
        }
    
    
        .ciudades {
            width: 100%;
            transition: all 2s;
        }
    
        .ciudades:hover {
            padding: 3%;
            width: 90%;
        }
    
    }

    .footerEnlaces ul {
        flex-direction: column;
        align-items: center;
        padding: 1%;
        margin-bottom: 1%;
    }

    .footerRedes ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: baseline;

        li{
            .redes {
                margin: 10px;
                margin-top: 10px;
            }
        }
    }


    .newsletter {
        margin-top: 50%;
    }


}






@media (max-width: 425px) {



    header nav ul {
        flex-direction: column;
        align-items: center;
    }

        main {
            min-height: 100px;
    
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .footerEnlaces ul {
        flex-direction: column;
        align-items: baseline;
        margin-top: 25%;
    }
    
}
